

.main-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.main-header {    
    padding: 10px 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    column-gap: 40px;
}

.main-header__menu{
    margin: 20px 10px;
}

.main-header__title {    
    font-size: 80px;
    letter-spacing: -1.5px;
}

.main-header__title--blue {
    color: var(--orange);
    color: #34393c;
    font-size:60px;
}

.main-header__title--orange {
    color: var(--black);
    color: #cda54d;
    font-size:60px;
}

.main-header__menu ul {
    display: flex;
    justify-content: flex-end;
}

.main-header__menu a {
    padding: 10px 10px;
    color: var(--gray);
    font-weight: 400;
    font-size: 22px;
    text-decoration: none;
    transition: all .3s ease-in-out;
    display: flex;
    align-items: center;
    height: 50px;
}

.main-header__menu a:hover {
    background-color: var(--mostarda);
    color: var(--light-gray);
}


.container-menu {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    flex: 1;
}

.badge-carrinho {
    padding: 5px 10px;    
    border-radius: 4px;
    color: var(--gray);
    margin: 0 5px;
    display: flex;
    align-items: center;
}

.search-form{
    height: 44px;
    display: flex;
}

.search-form input{
    box-sizing: border-box;
    height: 56px;
    padding: 28px;
    flex:1;
    background-color: var(#eaeaea);
    color: var(--gray);
    border: none;
    transition: all -3s ease-in-out;
    font-size: 22px;
}

.search-form button{
    width: 56px;
    height: 56px;
    background-color: var(--mostarda);
    border:none;
    color: #fff;
    font-size: 20px;
}